@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #39c676;
  --color-secondary: #7acddc;
  --color-accent: #2f7fb1;
  --color-text: #06180e;
  --color-bg: #f4fbf5;
}

.dark {
  --color-primary: #39c676;
  --color-secondary: #237685;
  --color-accent: #4e9ed0;
  --color-text: #e7f9ef;
  --color-bg: #040b05;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

::selection {
  background: rgba(0, 122, 255, 0.3);
  color: white;
}

/* Your custom CSS here */
