@import "tailwindcss";

@theme {
  --color-primary: #39C676;
  --color-secondary: #7acddc;
  --color-accent: #2f7fb1;
  --color-text: #06180E;
  --color-bg: #F4FBF5;

  --color-primary-dark: #39c676;
  --color-secondary-dark: #237685;
  --color-accent-dark: #4e9ed0;
  --color-text-dark: #e7f9ef;
  --color-bg-dark: #040b05;

  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-mono: 'Source Code Pro', monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

::selection {
  background: rgba(0, 122, 255, 0.3); /* macOS-like selection color */
  color: white;
}
